body {
  font-family: 'Arial', sans-serif;
  background-color: #40E0D0; /* Turquoise background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.input-group {
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"] {
  width: 100%;
  padding: 2.5px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}
button {
  background-color: #FF6347; /* Contrasting color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
}
button:hover {
  background-color: #E55342;
}

/* Style for List Employee Code */
.list-employee-code {
  background-color: #e6f7ff; /* Light blue background for the list */
  border: 1px solid #91d5ff; /* Light blue border for the list */
  border-radius: 4px; /* Rounded corners for the list */
  padding: 10px; /* Padding inside the list */
  margin: 10px 0; /* Margin around the list */
  list-style-type: none; /* Remove default list markers */
}

.list-employee-code li {
  padding: 5px 0; /* Padding for each list item */
  border-bottom: 1px solid #91d5ff; /* Border between list items */
}

.list-employee-code li:last-child {
  border-bottom: none; /* Remove border for the last list item */
}

.list-employee-code li:hover {
  background-color: #bae7ff; /* Change background on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

