body {
  font-family: 'Arial', sans-serif;
  background-color: #40E0D0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.input-group {
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"] {
  width: 100%;
  padding: 2.5px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}
button {
  background-color: #1cca3f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
}
button:hover {
  background-color: #E55342;
}

.list-employee-code {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
  border-radius: 4px; 
  padding: 10px;
  margin: 10px 0;
  list-style-type: none;
}

.list-employee-code li {
  padding: 5px 0;
  border-bottom: 1px solid #91d5ff;
}

.list-employee-code li:last-child {
  border-bottom: none; 
}

.list-employee-code li:hover {
  background-color: #bae7ff;
  cursor: pointer; 
}

