body{
  text-align:center;
 background-image: linear-gradient(135deg, #007991 30%, #78ffd6 90%);
}


h1,a{
   font-family: 'Parisienne', cursive;
   color: #fff;
   font-size:50px;
   text-decoration: none;
   text-shadow: 2px 2px 3px lightblue;
   padding-top:35px;
 }
 label.label {
  font-style: oblique;
 }
button.confirm {
  background-color: #007991;
  border-radius: 25%;
}